#preloader{
	background: #FFF;
	bottom: 0;
	color: #BBBBBB;
	font-size: 100%;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9;
	min-height: 400px;
	visibility:visible;
	transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-webkit-transition: all .6s ease-in-out;
}
#preloader-progress{
	text-align: center;
	margin-top: 15%;
	color: #e4e4e4;
	font-size: 30px;
}
#preloader-bar{
	background: #ec1e24;
	left: 0;
	height: 2px;
	position: fixed;
	top: 0;
	width: 0;
	z-index: 1;
	visibility:visible;
	transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-webkit-transition: all .6s ease-in-out;
}
#preloader-progress{
	position: relative;
	z-index: 1;
	// conteúdo do :before para o ícone, está noutro arquivo de CSS por causa do include do arquivo de fontawesome
}
body{
	&.app-loaded-preloader{
		&.app-loaded-cart{
			#preloader, #preloader-bar{
				visibility:hidden;
				opacity:0;
			}
		}
	}
}